{% extends 'main/admin.html' %}

{% load static %}

{% block title %}
Admin - Inquiry
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block body %}

<div class="container">
    <div class="inquiry-table">
        <h2>Inquiry Table</h2>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone/E-mail</th>
                    <th>Message</th>
                    <th>Date-time</th>
                </tr>
                </thead>
                <tbody>
                {% for inq in inqs %}
                <tr>
                    <td>{{ inq.name }}</td>
                    <td>{{ inq.contact }}</td>
                    <td id="show-less-{{ inq.id }}" onclick="showFullText('{{ inq.id }}')">{{ inq.msg|slice:":35"|safe }}...</td>
                    <td id="show-full-{{ inq.id }}" onclick="showLessText('{{ inq.id }}')" class="hide" style="max-width: 120px;height: auto;text-wrap: wrap;">{{ inq.msg|safe }}</td>
                    <td>{{ inq.dt }}</td>
                </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}