{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Success!
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
<script src="{% static 'js/checkout.js' %}" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">

    <div class=" message message-green">
        <p>
            {% if message %}
            {{ message }} <br>
            {% endif %}
            Payment successful. You will be redirected to your dashboard in <span id="countdown">10</span> seconds!
        </p>
    </div>
</div>
<script>
    let timeLeft = 10;

    const countdownElement = document.getElementById('countdown');
    const countdownTimer = setInterval(() => {
        timeLeft--;
        countdownElement.innerText = timeLeft;

        if (timeLeft <= 0) {
            clearInterval(countdownTimer);
            window.location.href = "https://prescribemate.com/dashboard/settings/notification/";
        }
    }, 1000);
</script>
{% endblock %}