{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Checkout page!
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
<script src="{% static 'js/checkout.js' %}" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    {% if message %}
    <div class="message">
        <p>
            {{ message }}
        </p>
    </div>
    {% endif %}
    <div class="checkout">
        <h3>Welcome to checkout!</h3>
        <p>
            Your product id : {{ product.pid }} <br>
            Amount to be paid : {{ product.amount }} BDT
        </p>
        <p>
            Dear valued customer, you have been redirected to this payment page from one of our child product page.
            We assure you of our authenticity of this payment process. Right after you completed your payment, you will be redirected to your desired page shortly.
            In case, you are using application instead of browser, don't panic! Your successful payment is automatically added to your subscription or purchase! <br>
            To proceed the payment, please agree to our 'Terms & Conditions' below. Thank you.
        </p>
        <div class="agree">
            <input type="checkbox" name="agree" id="check" onchange="document.getElementById('proceed').disabled = !this.checked;">
            <label for="agree">I agree to <a href="{% url 'terms' %}#4">Terms & Conditions</a> and also <a href="{% url 'privacy' %}">Privacy Policy</a></label>
        </div>
        <div style="text-align: center;"><button disabled id="proceed" onclick="document.getElementById('pay-with-logo').classList.remove('hide')">Proceed</button></div>
        <div id="pay-with-logo" class="hide">
            <a href="{% url 'payment' pk=product.pid pk2=product.amount %}" title="SSLCommerz" alt="SSLCommerz"><img src="https://securepay.sslcommerz.com/public/image/SSLCommerz-Pay-With-logo-All-Size-05.png" /></a>
        </div>
    </div>
</div>
{% endblock %}