{% load static %}
<footer>
    <div class="container">
        <div class="footer-container">
            <hr style="opacity: 0.3;">
            <div class="social-links" style="margin-top: 20px;">
                <ul style="list-style: none;margin-block-start: 0em;margin-block-end: 0em;padding-inline-start: 0px;">
                    <li><a href="https://www.facebook.com/profile.php?id=61564854300063&mibextid=ZbWKwL" target="_blank" style="text-decoration: none;"><img src="{% static 'images/icons/fb.png' %}" alt=""></a></li>
                    <li><a href="https://www.instagram.com/siuch.tech?igsh=OXgzZzN0Nzk2cnh4" style="text-decoration: none;" target="_blank"><img src="{% static 'images/icons/insta.png' %}" alt=""></a></li>
                    <li><a href="https://www.youtube.com/@SiuchTechnologies" style="text-decoration: none;" target="_blank"><img src="{% static 'images/icons/youtube.png' %}" alt=""></a></li>
                    <li><a href="https://x.com/SiuchTech?t=BDIyoTUoR0pTo7gL1_KMUg&s=09" target="_blank" style="text-decoration: none;"><img src="{% static 'images/icons/x.png' %}" alt=""></a></li>
                    <li><a href="https://www.linkedin.com/company/siuch-technologies/" target="_blank" style="text-decoration: none;"><img src="{% static 'images/icons/linkedin.png' %}" alt=""></a></li>
                </ul>
            </div>
            <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
                Phone : <a href="tel:+8801635817747" style="text-decoration: none;color: var(--dark);">+8801841105134</a><br><br>
                Email : <a href="mailto:tanvirsaklan3660@gmail.com" style="text-decoration: none;color: var(--dark);">siuchtech@gmail.com</a><br><br>
                Address : 1/2 Dhanmondi, Dhaka - 1205
            </div>
        </div>
    </div>
</footer>