<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SiUch Technologies</title>
    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;margin-top: 150px;">
        <img src="{% static 'images/icons/siuchb.png' %}" alt="SiUch Technologies" width="150px" height="auto">
        <h3 style="text-align: center;margin-top: 25px;">
            Site is under maintainance.<br>
            Thanks for your visit.<br>
            We are working to get back to you soon.<br>
            Contact : tanvirsaklan3660@gmail.com
        </h3>
    </div>
</body>
</html>