{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Research & Developement
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/r_d.css' %}">
<meta name="description" content="We cover a vast area of research operations for making new products as well as some data-driven research">
{% endblock %}

{% block body %}
<div class="container">
    <div style="padding: 50px 0px;text-align: center;">Sorry, no research project is not available right Now!</div>
</div>
{% endblock %}