html,body,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
:root{
    --green-color: #005400;
    --dark-color: #3C3C3B;
    --light-color: #FFFFFF;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #DDE5EF;
    align-content: center;
}
.landing{
    display: grid;
    grid-template-columns: 350px 600px;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
}
.card1{
    z-index: 11;
}
.card1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--green-color);
}
.card2{
    width: 350px;
    margin-top: -100px;
    padding-top: 120px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    border-radius: 14px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.card2 .name{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: bold;
}
.card2 .designation{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.card2 .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: left;
}
.card2 .links .link{
    display: flex;
    gap: 20px;
    align-items: center;
}
.card2 .links .link img{
    width: 30px;
    height: auto;
}
.card2 .links .link span{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--green-color);
}
.desc{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
    justify-content: left;
}
.desc .name{
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 700;
}
.desc .name .one{
    font-size: 24px;
}
.desc .name .two{
    font-size: 40px;
}
.desc .description{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
}
.desc .cv a{
    text-decoration: none;
    padding: 15px 50px;
    background-color: var(--green-color);
    color: var(--light-color);
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
}
.desc .links{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-start;
}
.desc .links a{
    text-decoration: none;
}
.desc .links a img{
    width: 30px;
    height: auto;
}
.desc .links div{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.container2{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    align-content: center;
}
.container2 .title{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.container2 .connections{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.connections .connection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.connection img{
    height: 100px;
    width: auto;
}
.connection a{
    text-decoration: none;
    color: var(--dark-color);
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.connection p{
    width: 350px;
    text-align: center;
    line-height: 20px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.vsm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.vsm .title{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.vsm p{
    width: 600px;
    text-align: center;
    line-height: 20px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.vsm .images{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.vsm .images pre {
    width: 350px;
    height: 350px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.vsm .images img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

@media screen and (max-width:768px){
    .container{
        height: auto;
        padding: 30px 0px;
    }
    .container2{
        height: auto;
        padding: 30px 0px;
    }
    .landing{
        grid-template-columns: 350px;
        gap: 20px;
    }
    .desc .cv{
        text-align: center;
    }
    .desc .links{
        gap: 10px;
    }
    .container2 .connections{
        margin-top: 50px;
        grid-template-columns: 350px;
    }
    .vsm p{
        width: 350px;
    }
    .vsm .images{
        flex-direction: column;
        gap: 20px;
    }
}